<div class="container">
    <div class="row mt-4 pd-lr">
        <div class="col">
            <img class="card-img-top" src="http://placehold.it/700x400" alt="">
        </div>
        <div class="col">
            <p class="name">{{info.category}}</p>
            <h3>{{info.name}}</h3>
            <div class="f-15 mr-3">{{info.description}}</div>
            <div class="mt-3 name">Color</div>
            <input type="radio"/>
            <div class="name pt-3">Price Per Unit</div>
            <div class="w-100 flex">
                <span class="f-28">Rs {{info.price}}</span>
                <button class="buy">Buy Now</button>
                <i class="fa fa-shopping-cart f-28" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</div>